@font-face {
    font-family: 'YS Text';
    src: url('./font/text-black.woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'YS Text';
    src: url('./font/text-medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'YS Text';
    src: url('./font/text-regular.woff');
    font-weight: 400;
    font-style: normal;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

body {
    font-family: 'YS Text';
        overflow: auto;
        overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
}

header {
    min-width: 768px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    .background {
        z-index: -5;
        width: 100%;
        height: 98%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%,);
        opacity: 0.22;
        &::after {
            width: 100%;
            height: 100%;
            content: "";
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
            z-index: -4;
            position: absolute;
            top: 0;
            left: 0;

        }
    }
    
}
.header-inner {
    width: 1000px;
    margin: 0 auto;
    margin-top: 125px;
    .yandex-go-img {
        width: 176px;
        height: 50.129px;
        flex-shrink: 0;
    }
    h1 {
        margin-top: 72px;
        color: #21201F;
        font-family: YS Text;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 72px */
        letter-spacing: -1.44px;
    }
}
.composition {
    margin-top: -400px;
    margin-left: 320px;
    width: 800px;
    position: relative;
    z-index: -1;
    img {
        top: 0;
        position: absolute;
        width: 650px;
        height: 618px;
        transform: rotate(-8.008deg);
        flex-shrink: 0;
    }
    .join-soc {
        position: absolute;
        width: 195.344px;
        height: 195.344px;
        transform: rotate(3.699deg);
        flex-shrink: 0;
        filter: invert(100%); 
        top: 305px;
        left: 170px;
    }
}
.blue-light {
    position: relative;
    top: 80px;
    width: 657.8px;
    height: 401.903px;
    transform: rotate(-140.03deg);
    flex-shrink: 0;
    border-radius: 657.8px;
    opacity: 0.5;
    background: #8241EF;
    filter: blur(100px);
    z-index: -2;
}

.buy-aboniment{
    margin-top: 48px;
    p {
        color: #21201F;
        font-family: YS Text;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 31.2px */
    }
}
.aboniment-price {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

.aboniment-price-new-price {
    color: #2E2C21;
    font-family: YS Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 500px;
    background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

.aboniment-price-old-price {
    text-decoration: line-through;
    margin-left: 12px;
    margin-right: 12px;
}
.join-club-button {
    
    margin-top: 44px;
    button {
        cursor: pointer;
        font-family: YS Text;
        color: #21201F;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        display: inline-flex;
        padding: 24px 48px;
        align-items: center;
        gap: 4px;
        border-radius: 36px;
        background: #FFDE40;
        box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
        margin-bottom: 124px;
        box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
        transition: background-color 0.2s ease-in;


        &:hover {
            background: darken(#FFDE40, 12%);
        }
    }
}

// Content

.content-container {
    display: flex;
    // padding: 0px 231px;
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    flex-direction: column;
    .main-header-text {
        width: 700px;
        color: #21201F;
        font-family: YS Text;
        font-size: 56px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 56px */
        letter-spacing: -1.12px;
        margin-bottom: 48px;
    }
}
.club-bonuses {
    display: flex;
    flex-wrap: wrap;
    .club-bonuses-bonus {
        width: 362px;
        color: #21201F;
        font-family: YS Text;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 28.8px */
        margin-right: 112px;
        margin-bottom: 61px;
        img {
            margin-bottom: 16px;
        }
    }
}

.exclusive-access {
    margin-top: 128px;
    height: 1350px;
    display: flex;
    flex-wrap: wrap;
    .exclusive-access-header {
        display: block;
        color: #21201F;

        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 48px */
        letter-spacing: -0.96px;
    }
    .exclusive-access-text {
        width: 442px;
        color: #21201F;
        margin-top: 48px;

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 28.8px */
    }
    .exclusive-access-photo {
        flex-shrink: 0;
        height: 100%;

        .first-img-decore {
            position: absolute;
            z-index: 100;
            top: -210px;
            right: -220px;
            width: 153.843px;
            height: 78.026px;
            flex-shrink: 0;
        }
        .second-img-decore {
            width: 440px !important;
            height: 500px !important;
            position: absolute;
            top: -100px;
            left: -235px;
        }
        .third-img-decore {
            width: 440px*1.3 !important;
            height: 500px*1.3 !important;
            position: absolute;
            top: 140px;
            left: 110px;
        }


        .main-photo-wrapper {
            display: flex;
            width: 455px;
            height: 455px;
            transform: rotate(2deg);
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-top: 98px;
            img {
                border-radius: 65px;
                margin-bottom: 8px;
                margin-left: 40px;
                width: 456px;
                height: 456px;
                flex-shrink: 0;
            }
        }
    }
}
.second-photo {
    position: relative;
    left: -480px;
    top: -340px;
}
.third-photo {
    position: relative;
    top: -630px;
    left: -10px;
}
.fourth-photo {
    position: relative;
    top: -965px;
    left: -500px;
}

.last {
    margin-bottom: 0px !important;
}

.buy-aboniment {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.top-side {
    width: 100%;
    display: flex;
}
.top-left-side{
    width: 419px;
    h1 {
        color: #21201F;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 48px */
        letter-spacing: -0.96px;
        margin-bottom: 42px;
    }
    p {
        color: #21201F;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 28.8px */
    }
}
.top-right-side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 400px;
    }
}
.elipse {
    position: absolute;
    width: 412.783px;
    height: 369.042px;
    transform: rotate(-140.03deg);
    flex-shrink: 0;
    border-radius: 412.783px;
    opacity: 0.29;
    background: #8241EF;
    filter: blur(100px);
    z-index: -1;
}

.down-side {
    margin-top: 128px;
    margin-bottom: 88px;
    width: 100%;
    height: 470px;
    display: flex;

    .down-left-side {
        width: 50%;
        height: 600px;
        .solo-scooter {
            height: 392.516px !important;
        }
    }
    .down-right-side {
        width: 419px;
        margin-bottom: 111px;
        h1 {
            color: #21201F;

        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%; /* 48px */
        letter-spacing: -0.96px;
        margin-bottom: 48px;
        }
        p {
            color: #21201F;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */
            margin-bottom: 48px;
        }
        button {
            cursor: pointer;
            width: 280px;
            height: 65px;
            display: flex;
            padding: 24px 46px;
            align-items: center;
            border-radius: 36px;
            background: #FFDE40;
            box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
            color: #21201F;
            text-align: center;
            font-family: YS Text;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 91.667% */
            transition: background-color 0.2s ease-in;
            &:hover {
                background: darken(#FFDE40, 12%);
            }
        }
    }
    .buy-join-soc {
        width: 423px;
        position: relative;
        filter: invert(100%);
        top: -400px; 
    }
}

.footer {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 128px;
    a {
        color: #C5C5C5 ;
        text-decoration: underline;
    }
    p {
        width: 906px;
        color: #C5C5C5;
        font-family: YS Text;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 15.6px */

    }
}